VITE_API_BASE_URL=http://127.0.0.1:5000
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=admin123
VITE_ROUTER_BASE=/

VITE_TEALIUM_ACCOUNT=
VITE_TEALIUM_PROFILE=
VITE_TEALIUM_ENVIRONMENT=dev
VITE_TEALIUM_ENABLED=true
